<header class="header">
  <nav class="navbar">

    <div class="navbar-brand">
      <a class="navbar-item bg-blue" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger bg-blue" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="navbar-item fg-blue bg-gray"></div>
    <div class="navbar-item bg-gray"> ~ </div>
    <div class="navbar-item fg-gray"></div>

    <div id="topbar-nav" class="navbar-menu">
    </div>
    <div class="navbar-filler"> </div> 
    <div class="navbar-right">

     <div class="navbar-item fg-dark-gray"></div>
     <div class="navbar-item fg-white bg-dark-gray"> [unix] </div>
     <div class="navbar-item bg-dark-gray fg-gray"></div>
     <div class="navbar-item bg-gray"> 100% ☰ : 1 </div>
     <div class="navbar-item fg-orange bg-gray"></div>
     <div class="navbar-item bg-orange"> </div>

    </div>

  </nav>
</header>
