.powerline {
  background-color: var(--nav-background);
}

.powerline .left,
.powerline .right {
  display: flex;
}

.powerline div:not(.endsection) {
  padding: 0 10px;
}

/* coloring */
/* TODO: UGH redo markup for easier targeting */
.powerline .left div:first-child {
  background-color: aqua;
}

.powerline .left div:first-child + .endsection {
  border-left-color: aqua;
  background-color: grey;
}

.powerline .left div {
  background-color: grey;
}

.powerline .left div + .endsection {
  border-left-color: grey;
  background-color: darkgrey;
}

.powerline .right .endsection:first-child {
  border-right-color: grey;
}

.powerline .right div:nth-child(2) {
  background-color: grey;
}

.powerline .right div:nth-child(2) + .endsection {
  background-color: grey;
  border-right-color: #e74c3c;
}

.powerline .right div:nth-child(2) + .endsection + div {
  background-color: #e74c3c;
}
