/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('../font/inconsolata-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src:
    local('Incolsolata'),
    url('../font/inconsolata-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/inconsolata-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/inconsolata-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../font/inconsolata-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/inconsolata-v19-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
