@font-face {
  font-family: "DejaVuSans Mono";
  font-style: normal;
  font-weight: 400;
  src:
    local("DejaVuSansMono"),
    local("DejaVuSansMono-Regular"),
    url(../font/DejaVuSansMono.woff2) format("woff2");
}

@font-face {
  font-family: "DejaVuSans Mono";
  font-style: normal;
  font-weight: 500;
  src:
    local("DejaVuSansMono Bold"),
    local("DejaVuSansMono-Bold"),
    url(../font/DejaVuSansMono-Bold.woff2) format("woff2");
}
